[Unit]
Description=Doorbell app.py startup service file
After=connect_speaker.service

[Service]
ExecStart=/home/arnarob23/RU_RACING/dingdong/big-red-button/venv/bin/python3 /home/arnarob23/RU_RACING/dingdong/big-red-button/app.py
WorkingDirectory=/home/arnarob23/RU_RACING/dingdong/big-red-button

[Install]
WantedBy=multi-user.target
